[2018-01-16 08:21] Chazzr opened #1 "(SOLVED) Error: Timestamp for this request was 1000ms ahead of the server's time."
### CONDITIONS
1. Windows

### STEPS
1.  Launch Git Bash
2.  Navigate to cloned WOLF repo directory
3.  Run 'npm start'

### RESULT
Console response will result in the following error:
`
Error: Timestamp for this request was 1000ms ahead of the server's time.
    at E:\NodeProjects\wolf\node_modules\binance-api-node\dist\http.js:47:13
    at <anonymous>
    at process._tickCallback (internal/proce

[2018-01-16 08:30] Chazzr commented on #1
Ive only seen this issue on Windows so far. But good news, I discovered the fix for this. On windows your Internet time settings are set to `time.windows.com`. You need to change it to `time.nist.gov`.  You can find this setting via **_Control Panel > Date & Time > Internet Time_**.

Screenshot for your viewing pleasure:
![changeinternettimesettingsnist](https://user-images.githubusercontent.com/2

[2018-01-16 08:58] austinyearlykim commented on #1
Looks like this is the problem/solution for all Windows users.  I'll be sure to add this to the README.  Thank you @Chazzr !

[2018-01-18 09:05] sasasavic82 opened #2 "Rolling budget enhancement"
Thought about compounding budget?

i.e. = starting budget $100 ... after say, 10% profit percentage, instead of $100 order, you place a $110 order? When you make $121, rinse and repeat. :)

[2018-01-18 09:09] Chazzr opened #3 "User receives a TYPE ERROR after multiple successful trades"
Ive run into this error multiple times tonight. It appears after multiple successful trades. I have plenty of budget so I dont believe it is a problem with insufficient funds. Perhaps the callstack below will be helpful.

I dont have repro steps at this point but I will update this issue once I do.

### Callstack

`TypeError: Cannot read property 'price' of null
    at Timeout.setInterval [as _onT

[2018-01-18 14:25] sasasavic82 opened #4 "is it possible to execute a negative trade?"
I've been testing it out with 0.0045 BTC (About AUD$50), but each time I refresh my total, it's being decreased - i.e.:

0.004543333
0.004541348
0.004535346

I don't think it's made a profitable trade not even once. Can it make a negative trade?

[2018-01-18 17:24] austinyearlykim commented on #4
Hi @sasasavic82, WOLF actually *can't* execute a negative trade.  It can however purchase an entity and not be able to sell it (you can always just sell it yourself as well!).

What could be happening is that you're buying ETH with BTC and WOLF is waiting to execute a trade at a price that is profitable.  If it fails to execute in a number of intervals then it will keep your sell order open and mo

[2018-01-18 17:28] austinyearlykim commented on #3
Hi @Chazzr,

Thanks for being active in exposing issues!  This error is from a small race condition.  Now that I've gotten feedback from several people and after iterating on v1, I'll be refactoring WOLF to be a bit more synchronous in nature.  Look out for updates, you've been a great help

[2018-01-18 17:31] austinyearlykim commented on #2
Hi @sasasavic82,

YES.  LOVE IT.  After refactoring and modularizing the codebase I'll be adding "strategies" that we can run via `npm start long` or `npm start short` or something of that nature.  You can maybe tell that your compounding budget idea is great in a bullish run but would have a bit of trouble executing when theres a downtrend.

WOLF will only get smarter from here.  Super excited th

[2018-01-18 20:23] sasasavic82 opened #5 "unknown attribute price"
yo!!! :) I'll keep digging away... i like the bot.

issue:

Your fudInterval executes after reset() is called. there's a time conflict causing the confirmedPurchase.price to fail because you nullfied it

[2018-01-18 20:28] sasasavic82 commented on #4
perhaps a better option would be to cancel order all together? ... are there order cancellation fees? from memory, there aren't.

you should be able to cancel by orderId?

thoughts? ... if that makes sense

[2018-01-18 22:04] austinyearlykim commented on #4
Yes!  I was planning to put in logic where on process.exit(0) WOLF will look at your open orders that WOLF created, and cancel those for you.  This cancel can also happen on reset();

Sit tight for v.1.1.0 !

[2018-01-18 22:06] austinyearlykim commented on #5
Someone else noticed this too :)

https://github.com/austinyearlykim/wolf/issues/3

v1.1.0 will fix this.  ETA early next week, maybe sunday!

[2018-01-19 03:15] sasasavic82 commented on #4
hey bud, I'm still a little baffled - I was tracking the value of my BTC as the bot was making trades:

Also, in this statement:

`        temp.optimalBuyPrice = (Number(depth.bids[0].price) + 0.00000100).toFixed(8);
          temp.optimalAskPrice = (Number(depth.asks[0].price) - 0.00000100).toFixed(8);`

Should you not be buying low, and asking higher? What's the logic behind optimal*

Thanks :)

[2018-01-19 11:11] CallMeAldy commented on #4
@sasasavic82 Are you using BNB to pay the fees?

[2018-01-19 11:13] sasasavic82 commented on #4
Nope, I switched it off. Just the standard 0.001 (0.1%) fee.

[2018-01-19 11:15] sasasavic82 commented on #4
Profitable trades are a hard problem to solve... check https://github.com/DeviaVir/zenbot

there's significant amount of work done and dedicated to it,yet it's not profitable.

[2018-01-19 11:45] CallMeAldy commented on #4
I've been using BNB to pay the fees and have set the profit percentage to 25.5. You might want to try that.

[2018-01-19 11:49] CallMeAldy commented on #4
Yes, you need to purchase some BNB and turn on the BNB settings. I've seen it converting within a few minutes and my BTC balance is increasing too.

[2018-01-19 12:16] sasasavic82 commented on #4
How long does it take the order to reach a 25.5% profit?

[2018-01-19 17:31] austinyearlykim commented on #4
@sasasavic82 my dude!

Are we both aware that BTC price value fluctuates naturally?  Not only because of the bot, but because the price is moving because the market is moving?  So it seems only natural that your btc value goes up AND down.  To confirm whether or not you're currently profiting (which you should be) is to go to each BUY and SELL and compare the prices at which each are executed at.

[2018-01-19 22:46] sasasavic82 commented on #4
Noted!.. thoughts on 25.5% profit setting? :)

[2018-01-19 22:56] sasasavic82 commented on #4
Also, what is the ultimate goal? accumulating BTC?

[2018-01-23 03:07] austinyearlykim commented on #4
@sasasavic82 Yes!  The goal is to accumulate the currency of choice.  Which in the default .env, is BTC, because ETHBTC trading pair means you're scalping ETH to accumulate more bitcoin.

[2018-01-29 06:30] #1 closed

[2018-01-29 06:30] #2 closed

[2018-01-29 06:30] #3 closed

[2018-01-29 06:30] #4 closed

[2018-01-29 06:31] #5 closed

[2018-01-30 18:13] pipinoloco opened #7 "not enough balance in the account"
hello, i have like 1 ether in the account and when i choose for example TRXETH as pair when Wolf makes the test before running it says there is no enough balance in the account

[2018-01-30 18:53] austinyearlykim commented on #7
hi @pipinoloco, can you post here your `.env`?   Make sure to not post your BINANCE_KEYS

I have a hunch that your ether is not "available" for trade, although you still have it in your wallet.  There is also the obvious case of your BUDGET being too high as well.

I'll be addressing this throughout today and tonight

[2018-01-30 19:05] pipinoloco commented on #7
i have tested with big budget and small budget and always same mistake. I have tested with debian on a vps server, also on ubuntu, same mistake. i thought it could be a problem when compiling with node but after
✓ should be able to ping Binance API (483ms)
    ✓ should be able to make signed requests (491ms)
    ✓ should be authorized to trade (379ms)
appears that mistake
{ AssertionError [ERR_ASS

[2018-01-31 02:12] austinyearlykim commented on #7
Hi @pipinoloco can you pull down the latest changes? and run `npm test`

https://github.com/austinyearlykim/wolf/commit/7fb4d276c5dfb7d1a0ba80e3a91cb9d912bfde04

I added a little bit more logging to help with debugging, and cast strings to numbers in case something weird was happening via implicit coercion.

[2018-01-31 02:26] pipinoloco commented on #7
solved, it helped when compared the balance in the config file with the balance on the script. thx

[2018-01-31 02:39] austinyearlykim commented on #7
Awesome, thanks creating the issue @pipinoloco

[2018-01-31 02:39] #7 closed

[2018-01-31 04:18] pipinoloco opened #8 "running on a docker"
hello, it would be cool if this can run on a docker!

[2018-01-31 19:35] pipinoloco opened #9 "limit on balance"
hello, besides the budget, can you put a configuration to limit the amount to trade, example if budget is 0.02 and balance is 0.10 i want the bot to limit my trading to only 0.05 of my current balance to not use 100% of the coin on the account.
best regards and keep up the good work.

[2018-02-01 03:17] pipinoloco opened #10 "UnhandledPromiseRejectionWarning"
This mistakes happens randomly
![wolferror1](https://user-images.githubusercontent.com/29177517/35659489-519cdd2c-06e5-11e8-9332-d982dae923c4.JPG)

[2018-02-04 01:36] austinyearlykim commented on #8
If you wanted to create the Dockerfile and submit a PR I would gladly incorporate it in the repo! :+1:

This will come in the future, but i'll be working on a few other features before hand. TBD

[2018-02-04 01:36] #8 closed

[2018-02-04 01:53] austinyearlykim commented on #10
Binance is saying that one of WOLF's requests to check the order status is taking longer than the default 5 seconds.  I'll go ahead and add a parameter to double the accepted time, or `recvWindow`.  That should at least make the error appear less often.

I'm hesitant to increase it more than 10 because if it takes longer than that I would rather have the next request take precedence anyway.

I'll

[2018-02-04 02:22] austinyearlykim commented on #10
After reading the Binance API documentation, which says that trade bots should use 5 seconds or fewer, I've decided to just exit the function loop if the status check is deemed invalid and just wait for the next check.

https://github.com/austinyearlykim/wolf/commit/ebab0db43f8c29915502892b262910b3f2dd94b1

[2018-02-04 02:22] #10 closed

[2018-02-04 13:16] pipinoloco opened #11 "several orders at once and stop loss"
hi, a cool feature could be a stop loss trigger, example wolf buys at 0.10 and if the price moves 5% below that price it will trigger a stop loss, if not sell at the given percentage.
Another cool feature could be to manage several orders at once:

1. Total balance example 1 ether. 10 orders max.
1. Order 1, buys at market and sell at percentage or stop loss.
2. Order 2, put a limit order at -1% a

[2018-02-04 15:04] pipinoloco opened #12 "fill or kill"
another cool feature could be fill or kill, example, fill at market price, if the order was partially filled sell the order at 0.1% above the purchased price.
if the limit order is not filled, cancel and buy at -1% the market price example.

[2018-02-05 05:19] pipinoloco opened #13 "budget in confi"
i think it would be easy to put for example in config a budget of 0.5 ether and the bot calculates how much to buy and sell, the basic config is good but harder to calculate.

[2018-02-05 16:37] pipinoloco opened #14 "close all open trades by wolf when program exits or crash"
can the program cancel open orders when crash or close

[2018-02-07 16:45] austinyearlykim commented on #14
I've wanted to do this, and it definitely is possible.  Consider it part of v2.1.0; releasing sometime next week.

[2018-02-07 16:47] austinyearlykim commented on #13
The budget at least for now is the budget *per transaction*.  Maybe you can reply with a config that you can easier understand and I'll look to see if I can change any of it in an upcoming release

[2018-02-07 16:50] austinyearlykim commented on #12
Cool feature, but right now it's a little too out of scope of what I want wolf to be.  I'm trying to have wolf be near risk-free, at least for the few first major versions.  Excellent idea @pipinoloco, it's just a little ahead of schedule right now.  Buying/selling at market price seems like v3 or v4 when WOLF get's smarter about past transactions and etc.

[2018-02-07 16:51] austinyearlykim commented on #11
Love it, this will most definitely be a feature in the next major version release!

[2018-02-07 20:03] pipinoloco commented on #11
to neve lose money, when the market is bull the bot will attempt to close the order at the given percentage of market order but if the market falls the bot will close the position on the initial price.

EXAMPLE, you bought 1000 TRX at 0.02 ETH

if the price rise to 0.021 we are in the money so the bot can close the position on profit without waiting to reach target profit of 1%, it can ask the use

[2018-02-07 20:05] pipinoloco opened #15 "compiled on javascript"
it can be a chrome plugin if compilled on javascript. there are software compiling python code to javascript.

[2018-02-07 20:08] pipinoloco commented on #13
i have seen in another bot some sort of leveraged budget, it means it won-t have a fixed budget in ETH for example if not 100% of the other pair, 80% of the other pair etc. As you are not selling 100% of the "other" pair, example you bought 100 TRX but TRX rised a lot, you can sell only 50% and hold 50%, not selling 100% on each trade. Also if the price drops a lot you can put a larger order, beca

[2018-02-08 18:12] austinyearlykim commented on #15
I will consider this in the future, but there are many other cool features I would like to get in first.  Thanks @pipinoloco

[2018-02-08 18:12] #15 closed

[2018-02-24 23:22] austinyearlykim commented on #14
Done.

https://github.com/austinyearlykim/wolf/commit/253d167fdbac857230ef2c644e8e483cc1ac62a0

[2018-02-24 23:23] #14 closed

[2018-02-25 01:42] #12 closed

[2018-02-25 01:43] #13 closed

[2018-02-25 01:51] austinyearlykim commented on #11
I did a refactor at v3.0.0 and just did a feature release and we're at v3.1.0 now:  https://github.com/austinyearlykim/wolf/commit/253d167fdbac857230ef2c644e8e483cc1ac62a0

Looking to start managing multiple orders at once soon.  A lot of refactoring was done to make managing multiple orders as readable as possible 👍

[2018-02-25 16:16] pipinoloco commented on #11
i was testing last week your last version and it worked great, but suddenly i have seen the bot stopped working randomly after making some buy/sell orders, i will test it this week and i let you know any glitch, keep up the good work!

[2018-02-25 16:35] pipinoloco commented on #11
best feature could be also to cancel a pending BUY or SELL order if not filled in xxxx seconds, that can be good to adjust the current profit percentage to the current market price, you know the price moves too fast down or up and if you have a pending BUY order and the market goes fastly up or down that order won-t be filled.

[2018-02-26 03:41] austinyearlykim commented on #11
The concept of cancelling an order based on X seconds is something i'm trying to implement right now too.  I would rather have W.O.L.F be a little smarter than an arbitrary amount of seconds, but who knows, that might actually have a lot more merit than i currently think it does.  Gonna think on this implementation a bit more.

https://www.investopedia.com/articles/active-trading/101014/basics-alg

[2018-02-26 06:19] pipinoloco commented on #11
even Binance is not so volatile than Bitmex.com, you could check Bitmex.com as inspiration for WOLF. Bitmex moves the price a lot (the spread i mean), WOLF would be cool to have some kind of "spread intelligence" so it can "learn" when to close an order and when to open it. The problem with fixed spread is that once you have a position opened, if the price moves against you, you cannot close that

[2018-03-08 06:24] newgithubacc1v opened #20 "Auto Set Maximum Budget Available to Allow Compounding"
Only if possible, is it possible to add an auto set feature for the maximum available budget to effectively allow compounding of budget?

[2018-03-08 17:22] austinyearlykim commented on #20
Hi @newgithubacc1v,
I'm going to get some time to work on WOLF this weekend, look out for a update for wolf v3.2.0 soon

[2018-03-09 01:45] newgithubacc1v commented on #20
@austinyearlykim Great! Looking forward to the feature.

[2018-03-11 01:52] austinyearlykim commented on #20
https://github.com/austinyearlykim/wolf/commit/ed04e6fdfb5c15392c18076ff1012db89fe9aef5

Please update your repo to v3.2.0 and view the README.md for the COMPOUND feature in the .env section.  You need to add the option to your .env and have it equal to true.

[2018-03-11 01:52] #20 closed

[2018-03-13 19:07] austinyearlykim commented on #11
Just for visibility i'm still thinking on this implementation.  I'll have time to start the branch on this coming Sunday.  I'm looking at other bots and choosing what seems to be most popular and/or optimal

[2018-03-13 21:27] newgithubacc1v opened #22 "Trailing - Dynamic Buy/Sell"
Is it possible to add trailing or dynamic buy/sell based on current trends in the market?

[2018-03-14 17:53] austinyearlykim commented on #22
Making Wolf aware of buy/sell "signals" has been a popular request.  Looking at APIs and seeing if these open source signals are legit will be something done this weekend~

Looks like two major version releases are on my list:

1.  Managing multiple orders at once. https://github.com/austinyearlykim/wolf/issues/11
2.  Making Wolf aware of buy/sell signals. https://github.com/austinyearlykim/wolf/i

[2018-03-14 20:28] pipinoloco commented on #11
hi pal, go for dynamic spread, try to buy and sell at NOT a fixed spread so the bot can buy at 1000 for example and sell at 1010 or sell at 1050, working with FIXED spread is very bad in the cryptospace as the price goes down and up very often. So the bot can "sell" at better price if it isnt working with fixed spread and also can "buy" at better price. WIth fixed spread when the price is gone, yo

[2018-03-17 13:54] mariodev12 opened #23 "TypeError: Cannot read property 'toLowerCase' of undefined"
Hi,

After I all of the tests are passed, it shows me this error:

`compound: process.env.COMPOUND.toLowerCase() === true,
                                   ^
TypeError: Cannot read property 'toLowerCase' of undefined`

[2018-03-17 14:01] #23 closed

[2018-03-25 23:37] austinyearlykim commented on #11
Dynamic/Stop-loss orders incoming, needs testing on my end before I make it public.

[2018-04-02 19:13] itsjNathan opened #26 "Continue all queue and whitelist when the app was crash or restarted"
i think this is a good feature

[2018-04-03 02:41] austinyearlykim commented on #26
Might have to revisit this idea later, better safe than sorry with a financial bot.  Manual restart/launch seems okay to me for now

[2018-04-03 02:41] #26 closed

[2018-04-23 07:40] itsjNathan opened #27 "USDT Trading pair is not supported?"

[2018-04-23 21:41] austinyearlykim commented on #27
hi, @itsjNathan

USDT is not supported I believe.

there is currently a test in mocha that doesn't check for USDT as it very primitively checks for a 3 letter trading pair: BTC, ETH, LTC.  I believe wolf also uses the same logic for determining the trading pair.

There needs to be a small refactor where each asset in the trading pair are separate fields rather than a string.  I'll get on it this w

[2018-04-30 16:36] hpduong opened #28 "Repurchase again for the next trade?"
Thanks for a great script to build on! The script executes properly when I initially run it - it purchases within my set budget, and then after a time it makes the proper sell when an opportunity arises.

But, it never makes another buy after that to repeat the process.
It just continues on with:

[code]
Am I doing something wrong? How can I get it to repurchase again for the next trade?

Thanks!

[2018-04-30 16:59] austinyearlykim commented on #28
Hi @hpduong

Can you do me the hugest of favors and try to see if this continues to happen throughout your day/week and report back here?  I'm having trouble seeing why Wolf wouldn't repopulate the queue after a successful sell.

Here is the line that is in charge of purchasing a position again:
https://github.com/austinyearlykim/wolf/blob/master/modules/Wolf.js#L95

Thanks!

[2018-04-30 17:07] hpduong commented on #28
Sure, no problem, I will keep it running on a raspberry pi so it won't go
down and report back.

On Mon, Apr 30, 2018 at 9:59 AM, Austin Yearly Kim <notifications@github.com

--

[2018-05-17 08:03] austinyearlykim commented on #27
im finally getting time to breathe, changes on the way!

https://github.com/austinyearlykim/wolf/pull/29

awwwwww yeahhh~

[2018-05-18 01:07] BatmanPDX commented on #28
Any info on when this bug will be fixed?

[2018-05-18 02:37] austinyearlykim commented on #28
Hi @BatmanPDX,

I am currently working on W.O.L.F locally on my end night-by-night.  ETA on this is a little sporadic as these last two weeks, I have been extra busy at work.  All it'll take is one full day to test and release, i'm just waiting for that day to show up.

Thanks

[2018-05-19 02:07] BatmanPDX commented on #28
Thanks for letting us know.

[2018-05-20 21:07] BatmanPDX opened #30 "test fails because of ticker.."
when I try to run the bot, it fails with this message:

 2) Ticker
       should be able to execute array of callbacks:

      Uncaught AssertionError [ERR_ASSERTION]: false == true
      + expected - actual

      -false
      +true

      at Timeout.setTimeout [as _onTimeout] (test\ticker.js:49:21)

  3) Ticker
       should be able access Ticker meta data:
     Error: Timeout of 2000ms exceeded

[2018-05-20 21:10] BatmanPDX commented on #30
nevermind I fixed it. sorry

[2018-05-20 21:17] BatmanPDX opened #31 "Layout output enhancement"
I've noticed that when the bought makes a buy order, it doesn't tell you what the sell price will be:

Quantity Calculated:  330.000
Purchasing...  TRXBTC
Consuming queue... Orders in queue: 1
Watching watchlist... Orders in watchlist:  0

It would be cool if there was a little bit more info about the current purchase, such as what it will sell for. For example:
Quantity Calculated:  330.000
Purch

[2018-05-20 21:26] BatmanPDX opened #32 "output spamming."
Is possible to slow down the output or only have it only out put when it successfully finishes a trade. Because I'm getting this every 3 seconds or so:

Consumed queue. Orders in queue: 1
Consuming queue... Orders in queue: 1
Watching watchlist... Orders in watchlist:  0
Consumed queue. Orders in queue: 1
Consuming queue... Orders in queue: 1
Watching watchlist... Orders in watchlist:  0
Consumed

[2018-05-20 22:51] austinyearlykim commented on #30
all good! thanks @BatmanPDX !

[2018-05-20 22:51] #30 closed

[2018-05-20 22:52] austinyearlykim commented on #31
Oooooo.  Good call @BatmanPDX, let me see what I can do

[2018-05-20 22:54] austinyearlykim commented on #32
This has been a common request.  And I already have plans on ideas on how to make this less spammy.  Stay tuned for v3.5.0 it's going to be a good one.  Thanks @BatmanPDX

[2018-05-21 00:56] BatmanPDX opened #33 "Buy limit order"
I dont know if this is possible with the way your bot is setup, but it would be very beneficial if we could set a buy-limit order either buy % or by price. Such as being able to set a buy-limit that is one 1 satoshi below the current asking price (guess this would be called the bid price). Or set a buy-limit order that is 1.0 , 0.5 or 0.2% or below the current asking price.

And what would enhance

[2018-05-21 01:00] BatmanPDX opened #34 "Stop Loss enhancement"
A nice feature enhancement to the stop-loss would be:
after_stop-loss_trigger_wait: 60.0

When a stop-loss is triggered, the bot would wait 60 seconds, before creating a new order.
This little feature would greatly help reduce the amount of stop-loss triggers throughout the day.
Especially during massive sell-offs, when you just don't know when the sell-off is going to end.

[2018-05-21 01:32] BatmanPDX opened #35 "Problems with ticker"
I'm constantly getting this when trying to run the bot, I've tried adjusting the timeouts in the ticker.js file, but no luck. Is there anyway to just bypass this ticker stuff?:

Ticker
    √ should be able construct Ticker
    1) should be able to initialize Ticker
    2) should be able to execute array of callbacks
undefined == true
    3) should be able access Ticker meta data

  Ticker
    √ sh

[2018-05-21 18:19] BatmanPDX commented on #35
Yea, im on a good connection. xfininty 4mb/sec. dont know why it keeps failing on the ticker.

[2018-05-22 00:16] BatmanPDX opened #36 "Donated."
Not really an issue, but I made  small donation via btc for $9.95
Keep up the great work, can't wait to see the next version! 👍

[2018-05-22 05:48] austinyearlykim commented on #28
@hpduong

I do not have this bug.  I did a fresh install of W.O.L.F and used these .env variables:

`
BINANCE_API_KEY=asdfasdfasdfasdf
BINANCE_API_SECRET=asdfasasdfasdfasdf
BUDGET=0.02
PROFIT_PERCENTAGE=.15
TARGET_ASSET=ADA
BASE_ASSET=ETH

#this is a bit complex please view README.md for more info; pick one. not both.
STOP_LOSS_PERCENTAGE=false
STOP_LIMIT_PERCENTAGE=false

#this is a bit complex p

[2018-05-22 06:04] austinyearlykim commented on #36
Awesome thank you @BatmanPDX!

Look out for your name in the README in the supporters section in the next release!

[2018-05-22 16:21] pitxels opened #37 "Stop Loss and Take Profit"
I would like to know if this bot can be used to set a Stop Loss and a Take Profit settings. Of course both order can not be set in Binance, but is the Bot able to follow the price and place an order when one of these conditions met?

[2018-05-22 17:11] austinyearlykim commented on #37
Hi @pitxels,

Yup! W.O.L.F is actually one of the only, if not only crypto bots to support some sort of "just-take-this amount-of-profit-if-it-reaches-a-certain-price-as-well-as-take-profit-on-the-way-back-down".  Long description...but maybe a snippet from the README.md will help :+1:

- `PROFIT_LOCK_PERCENTAGE` is in whole numbers; e.g `1.2` is one-point-two percent.
    - Example: Your `PROFIT_

[2018-05-23 03:04] pitxels commented on #37
Hi Austin,

`PROFIT_LOCK_PERCENTAGE`, great feature! But if I understand correctly it should be only used if you are 100% sure you are going to have a profit.

So I guess for now I will use the `STOP_LIMIT_PERCENTAGE` one in combination with the `PROFIT_PERCENTAGE` because what I want is to minimize the risk.
---------

I am reading the README.md and the template.env and there seems to be somethin

[2018-05-23 03:12] pitxels commented on #37
One more question:
Since there is a trade loop you end up with everything in the target coin, right? So If I am only doing one trade how  does the loop work in this case?

Does the bot purchase again the Base Coin? Or does it keep waiting for the budget to be available again? If so, how can I specify to loop a certain number of times?

Thanks!

[2018-05-23 04:27] pitxels commented on #7
Hi I have a similar problem, I have this on my .env file:

[code]
And I am positive I have that BTC balance on Binance. When I run the test I get:
`not enough TRX balance in Binance wallet to use W.O.L.F with your budget.  Balance: 0.00000000 Budget: 0.01785347`

Why is it checking my TRX balance? when I am going to use BTC to buy It....

[2018-05-23 05:11] pitxels opened #38 "Not enough TRX balance in Binance wallet"
Hi, I have a problem, I have this on my .env file:

[code]
And I am positive I have that BTC balance on Binance. When I run the test I get:
`not enough TRX balance in Binance wallet to use W.O.L.F with your budget.  Balance: 0.00000000 Budget: 0.01785347`

Why is it checking my TRX balance? when I am going to use BTC to buy It....

[2018-05-23 05:38] austinyearlykim commented on #37
Answer to question 1: `STOP_LOSS_PERCENTAGE` was changed to `PROFIT_LOCK_PERCENTAGE`... Good catch, I forgot to deprecate `STOP_LOSS_PERCENTAGE` documentation.

Answer to question 2: The trade loop actually gets you more of the base coin, not the target coin.  Read the README.md and if anything isn't clear there let me know if I can help clarify anything.  The bot purchases again the base coin onl

[2018-05-23 05:42] austinyearlykim commented on #38
Fixed:

https://github.com/austinyearlykim/wolf/commit/50cb05ee4a2b336195c58bb433be107846868fe0

woohoo

[2018-05-23 05:42] #38 closed

[2018-05-23 05:43] austinyearlykim commented on #28
I am going to close this issue as this seems to be fixed in the latest releases.  Please re-open a ticket with your `.env` if it continues to happen!

DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KE

[2018-05-23 05:45] austinyearlykim commented on #35
Hi @BatmanPDX,

Can you:

`git checkout master`
`git pull`
`git reset --hard origin/master`
`npm test`

And let me know if this is still an outstanding issue?  Thank you!

[2018-05-23 14:32] Flur3x opened #40 "RangeError when quantitySigFig is -1"
When I want to trade USDT (as BASE) and BNB (as TARGET) and set BUDGET to 10 I get the following error right after starting.

[code]

I guess the following line is problematic since it sets `quantifySigFig` to -1 in my case:

`get quantitySigFig() { return Number(this.filters[2].minNotional.indexOf('1') - 1) }`

This is how the `symbol` object looks like:

[code]

[2018-05-23 14:39] austinyearlykim commented on #40
Hi @Flur3x!

Cool find, i’ll get a patch release out tonight with a fix for this tonight. Thank you for such a detailed big ticket, i appreciate it

[2018-05-23 15:03] pitxels opened #41 "Stop Loss not triggered"
Hi, I am testing stop-loss, I started with a 0.5 value but it was not working, then I realised that I have to use whole numbers so I set that to 1.

However in my current trade I have lost 2.2 % and there was not any order created to stop it.

My settings:

[code]

[2018-05-23 15:42] pitxels opened #42 "Is WOLF designed for uptrends only?"
Hi, watching this bot work, I see that after the first buy/sell the bot buys again at a similar price of the latest sell without waiting for a pullback. So if there is a uptrend this can work ok.

However if the trend is going sideways, it may not find an opportunity to sell again, and if STOP_LOSS is set there will be some orders with losses in the way down, and some orders with profit in the way

[2018-05-23 16:05] BatmanPDX commented on #35
hey @austinyearlykim

this is what I get with the latest update:

module.js:549
    throw err;
    ^

Error: Cannot find module 'dotenv'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:\wolf\test\binance.js:1:63)
    at Module._c

[2018-05-23 16:39] austinyearlykim commented on #42
Hi @pitxels,

Yes W.O.L.F is designed for uptrends only.  Once we solidify the logic for uptrends more and more, we'll think about shorting strategies.

W.O.L.F in its state right now is actually quite dumb, or not aware of signals.  It won't cancel any orders for you programmatically to put a better, more recent, more accurate price if people put bids higher/lower than W.O.L.F.

So many cool idea

[2018-05-23 16:42] austinyearlykim commented on #41
Hi @pitxels,

Let me get back to you on this later tonight, thank you for the detailed bug report.

[2018-05-23 16:43] austinyearlykim commented on #35
`npm i` in the root directory and try again :)

[2018-05-23 17:22] BatmanPDX commented on #35
@austinyearlykim installed the packages, but it's still giving me ticker problems, damn:

Ticker
    √ should be able construct Ticker
    1) should be able to initialize Ticker
    2) should be able to execute array of callbacks
undefined == true
    3) should be able access Ticker meta data

  17 passing (10s)
  3 failing

  1) Ticker
       should be able to initialize Ticker:
     Uncaught Err

[2018-05-23 17:26] BatmanPDX commented on #42
I can't wait to see them all!

[2018-05-23 19:26] BatmanPDX opened #43 "Purchase Error message"
I turned off my ip blocker to see if maybe that was interfering and I also refreshed my nettime sync. That seem to fix the ticker problem. Ran a test 3 times, and all three passed the test. but now it's giving a purchase error:
__________________________________________________
 Ticker
    √ should be able construct Ticker
    √ should be able to initialize Ticker (1268ms)
    √ should be able to

[2018-05-23 19:27] BatmanPDX commented on #35
I turned off my ip blocker to see if maybe that was interfering and I also refreshed my nettime sync. That seem to fix the ticker problem. Ran a test 3 times, and all three passed the test. So hopefully that's fixed and it was my net time sync and or ip blocker.

[2018-05-23 19:56] austinyearlykim commented on #35
NICE!

[2018-05-23 19:56] #35 closed

[2018-05-23 19:58] austinyearlykim commented on #43
`MIN_NOTIONAL` is an error from binance because the value of the amount you're trying to purchase is too low.  Raising your budget, will fix this issue.  There probably should be a mocha test case that checks for this.  I'll get to this after the dust settles :)

[2018-05-23 19:58] #43 closed

[2018-05-23 20:47] BatmanPDX opened #44 "Sell issued but no rebuy , and error."
the bot completed a buy and sell, but it didn't create a new buy. It just keeps showing me this. I do have enough money to complete the next order. even if I didn't, the sell order should've covered it.

Consuming queue... Orders in queue: 0
Watching watchlist... Orders in watchlist:  1
Consumed queue. Orders in queue: 0
Consuming queue... Orders in queue: 0
Watching watchlist... Orders in watchli

[2018-05-23 20:50] BatmanPDX opened #45 "MIN_NOTIONAL error?"
I have .004 in my account, and I set the bot to use .001 but it gives me this error:

20 passing (10s)

Consuming queue... Orders in queue: 0
Watching watchlist... Orders in watchlist:  0
Consumed queue. Orders in queue: 0
W.O.L.F is hunting...
Calculating quantity...
Quantity Calculated:  110.000
PURCHASE ERROR:  Error: Filter failure: MIN_NOTIONAL
    at C:\wolf\node_modules\binance-api-node\dis

[2018-05-23 20:58] austinyearlykim commented on #44
working on a fix for this at the moment <3

https://github.com/austinyearlykim/wolf/issues/28

[2018-05-23 20:58] #44 closed

[2018-05-23 20:59] austinyearlykim commented on #28
Nevermind, this is definitely still happening.  Will investigate tonight.

[2018-05-23 21:04] austinyearlykim commented on #45
`MIN_NOTIONAL` error is from the binance api, not necessarily a WOLF problem.

https://www.reddit.com/r/binance/comments/74ocol/api_errorfilter_failure_min_notional/

Raising your BUDGET should fix the problem if this is happening for your initial purchase...

If `MIN_NOTIONAL` shows up again, then it's W.O.L.F problem :)

As per:
https://github.com/austinyearlykim/wolf/issues/28
https://github.co

[2018-05-23 23:17] BatmanPDX commented on #45
ok I'll try it out

[2018-05-23 23:19] pitxels commented on #42
I have been thinking about it, and while these new ideas for implementing smart strategies come to life, there is one simple use case that I think doesn't need much effort: Using Wolf as a vigilant for a single manual trade, in this case you simple need to disable the loop (maybe with a setting in .env). This way you can make a trade that can take hours or days, and you will know that as long as W

[2018-05-23 23:24] pitxels opened #46 "Have W.O.L.F stop after X amount of trades"
Disable the loop can make W.O.L.F a vigilant for a single trade where you want to stop-loss AND sell at your profit target, without watching the market. Very useful for those trades that take hour or days.

[2018-05-23 23:26] BatmanPDX opened #47 "Extra trading pairs."
Hey @austinyearlykim It would be awesome if we could do more than one trade pair at a time.

something like:
TARGET_ASSET1=TRX
BASE_ASSET1=BTC

TARGET_ASSET2=TRX
BASE_ASSET2=BTC

TARGET_ASSET3=TRX
BASE_ASSET3=BTC

[2018-05-23 23:28] BatmanPDX commented on #41
Yea, @austinyearlykim I just quick test on it, it doesn't trigger.

[2018-05-24 05:11] austinyearlykim commented on #47
good input!, might be better to put this suggestion into: https://github.com/austinyearlykim/wolf/issues/11

[2018-05-24 05:11] #47 closed

[2018-05-24 05:12] austinyearlykim commented on #46
Love this.  I'll keep this feature request open for visibility!

[2018-05-24 05:53] austinyearlykim commented on #40
Working on this as we speak...

[2018-05-24 06:33] austinyearlykim commented on #40
https://github.com/austinyearlykim/wolf/commit/9f53673cd9631b1b589a0ee4532c510828650d5d

good night!

[2018-05-24 06:34] #40 closed

[2018-05-24 06:48] austinyearlykim commented on #41
I fixed a bug and released a patch version tonight, getting late, but for any eyes that are on this issue...

https://github.com/austinyearlykim/wolf/blob/master/modules/Wolf.js#L94

...is the line responsible for the stop loss trigger.  Hmmmmmm... might be a good debugging session with some morning coffee for me.  Cheers!

[2018-05-24 16:28] BatmanPDX opened #49 "Account has insufficient balance for requested action."
the bot did a successful buy and sell order the first time. Then the second time around, it does a buy but it says this when it tries to sell:

Consumed queue. Orders in queue: 0
Consuming queue... Orders in queue: 0
Watching watchlist... Orders in watchlist:  1
Consumed queue. Orders in queue: 0
Consuming queue... Orders in queue: 0
Watching watchlist... Orders in watchlist:  1
Consumed queue. Or

[2018-05-24 17:00] austinyearlykim commented on #49
`Account has insufficient balance for requested action.`

Is an error from the binance API.

Do you have enough balance to buy/sell it twice?  Your assets that you buy/sell through W.O.L.F have to "settle", or become "free".  Maybe having around 3x of your BASE_ASSET and TARGET_ASSET available would help as your first trade needs time to free up funds even if you've made a profit.

[2018-05-24 17:17] BatmanPDX commented on #49
Ok, I've give it a try later. thnx

[2018-05-24 19:30] pitxels commented on #33
I was thinking about something similar, there are 2 important times when you want to set the price of the buy: 1. When the bot is starting, 2. when the loop already started and there was already a sell.

So for case 1 we may want to set an optional price parameter for npm like this:
`npm start --price=0.0005`

For case 2 we may want to have a variable (whole number) in .env where you set a percent

[2018-05-24 20:43] pitxels commented on #32
Yes it can be spammy, but you actually want to see the the bot is online and is sending this ping. Otherwise you won't notice is disconnected and you left a trade unattended.

One problem I see with this current log is that sometimes you don't know if is frozen or showing a new status, because all the text is the same. So maybe a timestamp can help.

Like everything in software some users want the

[2018-05-25 14:28] pitxels opened #50 "USDT trading not working"
When I try to use USDT as the base coin and BTC as target, I get an error about not able to calculate the quantity, doing a bit of digging, `quantity.toFixed(quantitySigFig)` returns 0, So I hardcoded a 6 for decimal points, and I think it didn't sell at profit nor stop loss when it should during the hole night. My settings:

[code]

[2018-05-25 14:43] pitxels opened #51 "Support for decimals for .env variables"
Let say `PROFIT_PERCENTAGE=0.2`could potentially trigger a lot of trades, and would make WOLF easier to test.

Same thing for `STOP_LIMIT_PERCENTAGE` and `PROFIT_LOCK_PERCENTAGE`

[2018-05-25 17:03] austinyearlykim commented on #50
I purposely made it return 0 if it was USDT.  Can you report here the error?

Having the `quantitySigFig` equal 0 is valid as it rounds the number to the nearest whole number.

I am currently working on the `STOP_LIMIT_PERCENTAGE` issue as well.

[2018-05-25 17:50] austinyearlykim commented on #51
This is already supported! Try plugging in `0.2` :)

[2018-05-25 17:50] #51 closed

[2018-05-25 18:39] pitxels commented on #50
The error is this:

[code]

And the bot start the loop anyway but it does not create a buy order.

[2018-05-25 18:49] pitxels commented on #50
Let me put you this scenario:

I am going to trade USDT-BTC (base is usdt and target btc)

So I am going to expend 50 USDT and that will give me let say 0.006666 BTC
I will need to put `BUDGET=50` and W.O.L.F calculates quantity ok ( lets say the 0.006666)

The problem is indeed what you say, you are getting a whole number out of that quantity with
`quantity.toFixed(quantitySigFig)`

So I am wonde

[2018-05-25 19:04] austinyearlykim commented on #50
"So I am wondering now, why do you need to use whole numbers?"

I dont :)

My mistake.  Let me give this a fix later this weekend.  I need to change my logic for the significant figure rounding for quantity, rounding against the MIN_NOTIONAL filter worked previously for BTC and ETH.  But not for USDT.

Here is the current logic:
[code]
Here are the logs for the filters:
[code]

[2018-05-25 21:32] austinyearlykim commented on #50
found it:

`(quantity-minQty) % stepSize == 0`

https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#lot_size

this will be a fun weekend!  looking at v3.5.0 woohoo

[2018-05-25 23:41] BatmanPDX opened #52 "Buy Split feature."
have a cool idea for a feature where the bot will create a buy-limit at the current bid price, and also buy at the current price.
Along with a buy_limit_wait_time command; the buy-limit order will be cancelled if it isn't fulfilled within a set amount of time. :)

[2018-05-26 04:43] austinyearlykim commented on #50
https://github.com/austinyearlykim/wolf/pull/53

this branch fixes this bug.

going to merge the branch with `v3.5.0` later this weekend.  `v3.5.0` will have better/cleaner logging and a wolf buy/sell mocha simulation test suite that will hopefully expose the STOP_LIMIT_PERCENTAGE bug at the same time.

good night fellas, see y'all sunday && monday

[2018-05-26 04:45] austinyearlykim commented on #45
woo hoo!

[2018-05-26 04:45] #45 closed

[2018-05-26 04:47] austinyearlykim commented on #28
closing this issue as MIN_NOTIONAL error filter from binance is a user & binance problem.  Please view https://github.com/austinyearlykim/wolf/issues/45 for help getting past this error :)  W.O.L.F will translate binance errors into a more human readable format in a later version <3

[2018-05-26 04:47] #28 closed

[2018-05-26 21:38] pitxels opened #54 "Mocha timeout"
I was getting errors in the mocha test, so after some digging I found out that It was jus a timeout issue,

So I set the timeout globally in package.json like this:

[code]
And removed some specific timeouts in test/ticker.js and test/symbol.js

So that seems to work for me, but I don't know if this is change that we want in the code.....

[2018-05-27 01:25] BatmanPDX commented on #52
@pitxels I've looked at it, it stalls when you adjust the profit to anything above 1.0%

[2018-05-27 02:44] BatmanPDX commented on #49
Nope, it wasn't that. I just did a test with only .0015 and I have a balance of .008. It still gave me a SELL ERROR:  Account has insufficient balance for requested action.

[2018-05-27 19:29] austinyearlykim commented on #54
The binance websocket takes longer sometimes to initialize.  Something like this is necessary.  Let's keep this issue open and see if anyone else has advice/input.  If you wanted to make this a pull request for better visibility i would love to have it considered to be merged in v3.5.0!

[2018-05-27 19:33] austinyearlykim commented on #49
interesting..

Post your .env variables?

DON'T POST YOUR BINANCE KEYS

DON'T POST YOUR BINANCE KEYS
DON'T POST YOUR BINANCE KEYS
DON'T POST YOUR BINANCE KEYS
DON'T POST YOUR BINANCE KEYS

DON'T POST YOUR BINANCE KEYS

DON'T POST YOUR BINANCE KEYS

DON'T POST YOUR BINANCE KEYS
DON'T POST YOUR BINANCE KEYS
DON'T POST YOUR BINANCE KEYS

[2018-05-27 21:11] BatmanPDX commented on #49
BUDGET=0.0025
PROFIT_PERCENTAGE=0.1

#if your desired trading pair is ADAETH, below is the correct way to configure W.O.L.F
TARGET_ASSET=TRX
BASE_ASSET=BTC

#<-----------------optional----------------->

#this is a bit complex please view README.md for more info; pick one. not both.
STOP_LOSS_PERCENTAGE=0.09

#this is a bit complex please view README.md for more info
PROFIT_LOCK_PERCENTAGE=false

[2018-05-27 21:36] BatmanPDX commented on #54
I dont know if this would help or if it has anything to do with it, but you can download NetTime 3.14. It syncs your time clock.

[2018-05-27 23:52] BatmanPDX commented on #49
so strange, I've been running it for about 30 mins now with no problems. don't know what it could've been.

[2018-05-28 01:22] BatmanPDX opened #55 "bot seems to pause/timeout after a while"
Ran the bot successfully for an hr or two. It was constantly outputting and then it just stopped outputting and paused on the last row for 30mins before I canceled it.:
Consumed queue. Orders in queue: 0
Consuming queue... Orders in queue: 0
Watching watchlist... Orders in watchlist:  1
Consumed queue. Orders in queue: 0
Consuming queue... Orders in queue: 0
Watching watchlist... Orders in watchli

[2018-05-28 02:08] austinyearlykim commented on #55
not entirely sure yet. this will be more visible with incoming changes to the logging system too!

[2018-05-28 02:09] austinyearlykim commented on #50
https://github.com/austinyearlykim/wolf/pull/56/files

view PR notes for more info! will merge in a bit.

[2018-05-28 02:09] austinyearlykim commented on #41
https://github.com/austinyearlykim/wolf/pull/56/files

view PR notes for more info! will merge in a bit.

[2018-05-28 02:11] #37 closed

[2018-05-28 02:17] austinyearlykim commented on #50
merged, closing please oppen new bug ticket if issues persist! <3

[2018-05-28 02:17] #50 closed

[2018-05-28 02:17] austinyearlykim commented on #41
merged, closing please oppen new bug ticket if issues persist! <3

[2018-05-28 02:17] #41 closed

[2018-05-29 01:17] BatmanPDX commented on #55
I switched to powershell and it has been running for 8 hrs without any problem. I think it was a memory problem with Bash

[2018-05-29 01:40] BatmanPDX opened #57 "simulator error"
I get this error when I try to run the simulator:

module.js:549
    throw err;
    ^

Error: Cannot find module 'dotenv'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:\wolf\simulator.js:15:1)
    at Module._compile (module.js:

[2018-05-29 01:56] BatmanPDX commented on #57
damnit, haha I always forget to install the damn dependents.

[2018-05-29 01:57] BatmanPDX opened #58 "1 time buy/sell"
Is there a way to not have the bot run in a loop? I just want to do a one time buy and sell.

[2018-05-29 02:09] austinyearlykim commented on #58
v3.5.0 let's us do this easily in a later patch. i'm letting the dust settle for a little bit before moving on to 3.6 or 3.6.1!

also: https://github.com/austinyearlykim/wolf/issues/46

[2018-05-29 02:09] #58 closed

[2018-05-29 02:09] austinyearlykim commented on #57
haha! nice.

[2018-05-29 02:09] #57 closed

[2018-05-29 02:16] austinyearlykim commented on #55
love to hear this!

thanks for the update @BatmanPDX

[2018-05-29 02:16] #55 closed

[2018-05-29 02:17] austinyearlykim commented on #49
if the problem arises let's make another ticket!

[2018-05-29 02:17] #49 closed

[2018-06-01 10:15] onthetunnel opened #59 "triangular arbitrage"
hello dear, can you implements auto triangular arbitrage for this ? Thanks !

[2018-06-01 14:56] austinyearlykim commented on #59
Hi @onthetunnel,

I can't imagine implementing triangular arbitrage in a while, but there is this awesome repo that I was invited to work on a bit ago:

https://github.com/tiagosiebler/TriangularArbitrage

Cheers!

[2018-06-01 16:38] onthetunnel commented on #59
Thanks For Reply and suggest,  is awesome ! but it cannot do auto trade. ..if manual place order is no profit at all  ....

[2018-06-05 07:14] onthetunnel opened #60 "multiple pair"
hello , can this project do auto track multiple or all pair on binance and auto place order for good trend pair and auto sell on hit the profit ? Thanks You!

[2018-06-05 17:20] austinyearlykim commented on #60
https://github.com/austinyearlykim/wolf/issues/11

for sure! this is a popular request.  working on it atm!

[2018-06-05 17:20] #60 closed

[2018-06-13 04:57] austinyearlykim commented on #32
https://github.com/austinyearlykim/wolf/pull/62

Done :)

[2018-06-13 04:57] #32 closed

[2018-06-19 19:43] Orbitalz-eth opened #64 "buy limit feature"
I would gladly pay $20 for a buy-limit feature.  A simple "buy at current bid price" and "buy at percentage below bid price" is all I'm looking for.

[2018-06-19 19:56] austinyearlykim commented on #64
agreed.  I'll prioritize this feature for this weekend as it seems one of the easiest to get time to work on atm as well.  Don't worry about the $20.  Stay tuned @BatmanPDX

[2018-06-20 00:54] Orbitalz-eth commented on #64
Just to add a lil bit of insurance to the feature:
Buy_At_Current_BidPrice = True
BuyLimit_WaitTime = 30.00     (30 mins)

The wait time feature would be very beneficial for moments when the price dips below your current buylimit. There's no telling how many minutes or even hours you might be waiting before it goes back up to your buylimit.
If the WaitTime is triggered, the bought will cancel the

[2018-06-24 02:29] austinyearlykim commented on #64
hey @BatmanPDX,

I got a chance to get the feature up on a branch.

Read the new README.md on how the new feature works and let me know what you think.  Going to merge this in to master either tomorrow or early next week if testing goes well!

`git fetch --all`
`git checkout buy-limit-feature`
`npm test`
`npm start`

[2018-06-24 22:33] Orbitalz-eth commented on #64
awesome, I'll check it out

[2018-06-30 01:29] Orbitalz-eth commented on #64
Sorry, haven't had time to check it out yet. been doing some market research

[2018-06-30 14:56] Orbitalz-eth commented on #64
Just tested the feature! it works great!
 took me a few tries to figure out what the percent was for 1 sat below the asking price was.
Great job!

[2018-06-30 14:58] Orbitalz-eth commented on #64
damn, spoke too soon. I got this message when the time-reset was triggered: my time-reset is set to 0.30 (30 seconds)

 Buy limit reset time reached.  Cancelling current order(s)
- Queue: 0 Watchlist: 1(node:6492) UnhandledPromiseRejectionWarning: ReferenceError: queue is not defined
    at Wolf.consume (C:\wolf\modules\Wolf.js:95:37)
    at tickerConfig.callbacks (C:\wolf\modules\Wolf.js:49:28)

[2018-06-30 15:16] BatmanPDX commented on #64
It seems to happen right when the buy-limit goes through.

[2018-07-01 03:18] Orbitalz-eth commented on #64
when the buy-limit goes through but the sell doesn't go through in a certain amount of time; it also shows that bug message.

[2018-07-01 04:13] Orbitalz-eth opened #66 "Buy Limit bug"
I got this message when the time-reset was triggered: my time-reset is set to 0.30 (30 seconds)
Also tried setting it to: 1 (1 min). This bug message was also triggered after a certain amount of time that a buy-limit went through, but the sell took too long.

Buy limit reset time reached. Cancelling current order(s)

Queue: 0 Watchlist: 1(node:6492) UnhandledPromiseRejectionWarning: ReferenceError

[2018-07-01 04:25] Orbitalz-eth commented on #66
dude, when it was working; I made $2 in pry 10 mins.

[2018-07-03 05:43] austinyearlykim commented on #66
Hi @BatmanPDX,

https://github.com/austinyearlykim/wolf/pull/65

`git checkout buy-limit-feature`
`git pull`
`npm start`

fixed the reference error, lemme know how it goes thank you

[2018-07-05 06:56] awalch23 opened #67 "Sell error bug: account has insufficient balance for requested action"
Hello,

Queue: 0 Watchlist: 1 [ALARM]::: Price dipped below PROFIT_LOCK_PERCENTAGE while in paranoid mode. Selling.
Queue: 0 Watchlist: 1SELL ERROR:  Account has insufficient balance for requested action.

I had 155 units, Binance took .15 of them as transaction fee, leaving me with a whole number of 154 left. I believe Wolf was trying to sell 155 units or 154.85 units. When I went into Binance ap

[2018-07-05 23:48] austinyearlykim commented on #64
I believe I fixed it: https://github.com/austinyearlykim/wolf/issues/66

[2018-07-05 23:49] austinyearlykim commented on #67
Great find @awalch23,

I'll be sure to include a fix for this in the next release!

[2018-07-06 00:34] awalch23 commented on #67
Thanks! This is a great app and well written JavaScript.

[2018-07-08 03:35] Orbitalz-eth commented on #66
ok, I'll give it a go on sunday or monday

[2018-07-10 09:45] blastbeng opened #68 "Multiple pairs?"
Hello just a question..
does this bot supports multiple pairs?
Can i use it specifying i want to trade for example.... XRP/BTC and IOTA/BTC.. or do i have to run two bots with different config?

Thanks

[2018-07-11 02:55] austinyearlykim commented on #68
Hi @blast1987,

currently there are two options:

1) run two wolf bots
2) read index.js and instantiate two Wolf classes

I'm eventually going to get support for multiple pairs via "packs" of wolves

Thanks for checking wolf out :)

[2018-07-11 02:56] austinyearlykim commented on #66
@BatmanPDX did you find time to try this out?  thanks

[2018-07-11 19:12] tapir1 opened #69 "Error: UNKNOWN_ORDER"
![bb4ba6158469fa46ce7ad8f78496092f](https://user-images.githubusercontent.com/35441718/42594242-9f22a86e-851c-11e8-9f1e-b98def1000ca.png)

EDIT: On top of this, the bot has also missed **many** selling opportunities that mathematically should've occurred. My phone alert would go off because the price hit PROFIT_PERCENTAGE, but upon checking the bot, it made no moves and continues searching.

Never

[2018-07-11 23:56] austinyearlykim commented on #69
Hi @tapir1!

To have WOLF execute more frequent trades try considering lowering your PROFIT_PERCENTAGE.  Wolf is pretty good at executing when it needs to; It would be really helpful if you gave specific numbers here so I can test them out!

Thank you for reporting this!  I think I already know what might be happening.  I'll get to this sometime this weekend.

[2018-07-14 14:32] 9121511 commented on #34
x2

[2018-07-16 13:49] Orbitalz-eth commented on #66
sorry, I'm testing it out right now

[2018-07-16 14:12] austinyearlykim commented on #66
no problem take your time

[2018-07-16 14:29] Orbitalz-eth commented on #66
I'm getting the same error that the other guy gets:

√ Buy limit reset time reached.  Cancelling current order(s)
√ Resetting timer...
√ Timer reset.
√ Putting in new limit buy order at better price...
√ Calculating quantity...
√ Quantity Calculated: 40310
\ Queue: 0 Watchlist: 1PURCHASE ERROR:  Error: Account has insufficient balance for requested action.
    at C:\wolf\node_modules\binance-api-n

[2018-07-16 14:45] Orbitalz-eth commented on #66
seems like the the bot isn't cancelling the order fast enough , or there's a delay in the api, so it thinks the order has been cancelled.

[2018-07-16 14:53] austinyearlykim commented on #66
someone has kindly addressed it here https://github.com/austinyearlykim/wolf/issues/67, not too bad of a fix for this.  I'll consolidate this bugfix with the branch you're on. ETA...soon.  Work is picking up and weekend activities have kept me busier than normal haha.

[2018-07-16 15:08] Orbitalz-eth commented on #66
np thnx!

[2018-07-16 16:51] Orbitalz-eth opened #70 "Bot doesn't place a sell order after buy-limit."
One thing I've noticed about this bot, is that it doesn't put in a sell-limit order right away after the buy-limit goes through.

[2018-07-16 22:47] austinyearlykim commented on #70
This is done on purpose, the wolf will wait until the profit percentage is met and then put the order in.  This is how it's able to do stop losses and etc.  Putting in the sell order right after the buy limit will take away the ability to exit at a stop loss.  Keeps your (wolf's) position more flexible!

[2018-07-16 22:47] #70 closed, assigned to nobody

[2018-07-17 04:29] austinyearlykim commented on #67
Hi @awalch23,

Thanks again for you making such a detailed bug ticket. It really helped alot.  Please:

`git checkout buy-limit-feature`
`git pull`

I believe I fixed it. Let me know if the problem arises again and/or this fixes it.

Best,
Austin

[2018-07-17 04:31] austinyearlykim commented on #69
closing as there's not enough info to debug this as of yet, please resubmit a ticket with your .env config and a detailed scenario!

DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS
DONT POST YOUR BINANCE KEYS

[2018-07-17 04:31] #69 closed, assigned to nobody

[2018-07-17 04:31] austinyearlykim commented on #66
Hi @BatmanPDX

Please:

`git checkout buy-limit-feature`
`git pull`

I believe I fixed it. Let me know if the problem arises again and/or this fixes it.

Best,
Austin

[2018-07-18 22:48] Orbitalz-eth commented on #67
Woohoo, can't wait to try it out!

[2018-07-18 23:37] BatmanPDX commented on #67
ran into an error. The order went through but the time reset also executed. wonder if it went through right when the time was about to end. But this is what I got:

√ Calculating quantity...
√ Quantity Calculated: 4221
√ Purchasing... XVGBTC
√ Buy limit reset time reached.  Cancelling current order(s)
√ Cancelling current buy limit order...
√ Cancelled current buy limit order.
√ Resetting timer...

[2018-07-19 00:35] Orbitalz-eth commented on #66
ran into an error. The order went through but the time reset also executed. wonder if it went through right when the time was about to end. But this is what I got:

√ Calculating quantity...
√ Quantity Calculated: 4221
√ Purchasing... XVGBTC
√ Buy limit reset time reached. Cancelling current order(s)
√ Cancelling current buy limit order...
√ Cancelled current buy limit order.
√ Resetting timer...

[2018-07-19 06:02] austinyearlykim commented on #67
going to close this ticket and focus attention on the other bug ticket that has the same issue! see you at https://github.com/austinyearlykim/wolf/issues/66 !

[2018-07-19 06:02] #67 closed, assigned to nobody

[2018-07-19 06:51] austinyearlykim commented on #66
Figured it out.  I'm not removing the first cancelled order from the queue. So wolf is then trying to still cancel the first order which no longer exists haha. Which explains why there are two items in the queue when this error happens and why we have the UNKNOWN_ORDER bug.

 But I will fix this small bug tomorrow when my left eye ISN'T twitching from lack of sleep :)

Have a great day and expect

[2018-07-20 03:06] austinyearlykim commented on #66
@BatmanPDX
@tapir1
@awalch23

Thank you all for being patient.. Got the order removed from the queue now when it's cancelled so the reference error aka UNKNOWN_ORDER bug should be fixed.  Changes are below:

https://github.com/austinyearlykim/wolf/pull/65/commits/ea11e91925f343a2971835b5c896793557a832f7

`git checkout buy-limit-feature'
'git pull'

Let me know what y'all think. Happy almost-Friday

[2018-07-20 12:55] awalch23 commented on #67
Thanks! I'll give this a try when I get a chance.

[2018-07-21 02:50] BatmanPDX commented on #66
Ran into a problem with the timer reset.
When I ran the bot, the buy-limit went through. however, as I was waiting for the sell limit; this happended:

√ Calculating quantity...
√ Quantity Calculated: 218
√ Purchasing... TRXBTC
√ PURCHASED: 218.00000000 TRXBTC @ 0.00000477
√ Compounding...-0.00000477
√ Buy limit reset time reached.  Cancelling current order(s)
√ Resetting timer...
√ Timer reset.
√

[2018-07-23 03:29] Orbitalz-eth opened #71 "Timer reset bug"
Ran into a problem with the timer reset.
When I ran the bot, the buy-limit went through. however, as I was waiting for the sell limit; this happended:

√ Calculating quantity...
√ Quantity Calculated: 218
√ Purchasing... TRXBTC
√ PURCHASED: 218.00000000 TRXBTC @ 0.00000477
√ Compounding...-0.00000477
√ Buy limit reset time reached. Cancelling current order(s)
√ Resetting timer...
√ Timer reset.
√

[2018-07-23 03:32] austinyearlykim commented on #66
@BatmanPDX i saw you posted a stacktrace for a bug, but I don't see it anymore.  Did you happen to forget to update the branch before running it again haha.  I'll leave this bug ticket open for the rest of this week in case someone else finds something else.  Otherwise I'll do a release next week! WoooOOOOooOOOoooOOOOOO ~

[2018-07-23 06:24] austinyearlykim commented on #66
In lieu of recent discovery of a potential race condition I think it's best that I hold this feature off until the 4.0.0 release.  I will be closing this branch for now.  Please use ```master``` branch for all near-future bot activity!

Thanks all for being proactive.

[2018-07-23 06:24] #66 closed, assigned to nobody

[2018-07-23 06:24] austinyearlykim commented on #71
In lieu of recent discovery of a potential race condition I think it's best that I hold this feature off until the 4.0.0 release.  I will be closing this branch for now.  Please use ```master``` branch for all near-future bot activity!

Thanks all for being proactive.

[2018-07-23 06:24] #71 closed, assigned to nobody

[2018-07-23 06:24] austinyearlykim commented on #64
In lieu of recent discovery of a potential race condition I think it's best that I hold this feature off until the 4.0.0 release.  I will be closing this branch for now.  Please use ```master``` branch for all near-future bot activity!

Thanks all for being proactive.

[2018-08-31 00:26] LoayGhreep opened #72 "Need Some Help To Start"
Hello , i hope you well
Thanks for your effort
my issue is :
i Created file named ".env" in root directory ( As SU )
Even i Copied it into Wolf & Wolf/Modules
and filled this file with copy of template.env and added my parameters & Variables
it shows me this error
At npm start
![image](https://user-images.githubusercontent.com/42842021/44886147-fcd22c80-acc4-11e8-891c-7de78a513403.png)
At npm test

[2018-09-03 18:16] austinyearlykim commented on #72
Hi there!

You need to run `npm install` before running `npm start`!

[2018-09-13 17:03] #72 closed, assigned to nobody

[2018-09-24 13:52] danielro7587 commented on #64
hi
is there any way for set buy limit order now?

[2018-09-24 18:33] austinyearlykim commented on #64
Hi @danielro7587,

I'm afraid my off-time has been spent on a private stock market solution right now and haven't gotten the time to implement buy-limits.

[2018-10-03 13:26] EARES opened #73 "Buy again in specific price"
Hi ! This is a question btw.

I would like to buy again in specific price in bot. Like "(sold price) x (0.05)" . I calculated already but I can't

make a buy order in calculated price. I put in the some code for how to calculate the sold price and make an buy order so may you can take a look.

            const soldPrice = this.queue.meta.currPrice - ( this.queue.meta.currPrice * 0.05 )

I calcula

[2018-10-23 23:12] duanebednorz opened #74 "Question - does the program need to be restarted after the Stop Limit?"
I thought the program would re-loop after the stop limit was reach and re-purchase and follow through again, so that it would prevent losing as much as possible, but also check to re-buy when the uptick starts and start purchasing again. Is that not the case?

[2018-10-24 00:26] austinyearlykim commented on #74
Hi @duanebednorz !

To prevent WOLF from buying on a downward trend this line is added:

https://github.com/austinyearlykim/wolf/blob/master/modules/Wolf.js#L96

Yes, WOLF would need to be restarted at the user's will.  This is a feature as I want WOLF to be risk-defined bot where you don't fear of forgetting that you left it on, or bot-speed trades on a downward trend, etc.

Sure, something can p

[2018-12-18 06:20] altcnews opened #75 "Uncaught AssertionError"
hi all,
i've got this when trying npm test:

  Binance
    ✓ should be able to ping Binance API (310ms)
    ✓ should be able to make signed requests (277ms)
    ✓ should be authorized to trade (281ms)
    ✓ should have enough balance to afford budget (281ms)

  Ledger
    ✓ should be able construct Ledger
    ✓ should create a testLedger.csv file if one does not already exist
    ✓ should be able

[2018-12-18 18:48] austinyearlykim commented on #75
Hi @altcnews,

Try running it a few more times and if that doesn't work...

in the .env that you're using what is your

[code]

?

My hunch is some trading pairs might not be regulated as strongly as others on binance or their API might not be as consistent with some.

[2018-12-18 19:45] altcnews commented on #75
[Hi] austinyearlykim,
this is my .env
***DELETED screenshot and history for your own security****

and i still got the same error even if i just copied the default template.env.
<a href="https://imgur.com/zEOELx4"><img src="https://i.imgur.com/zEOELx4.png" title="source: imgur.com" /></a>

Thanks & Regards.

[2018-12-18 20:04] austinyearlykim commented on #75
https://github.com/austinyearlykim/wolf/blob/master/test/symbol.js

This is the file for the Symbol tests.  One of those checks to determine the existence of the properties is evaluating to 0 which is a falsey value in javascript making the assertion error trigger haha.  This can actually be fixed by just checking if that property is typeof number instead. let me make a quick change for this

[2018-12-18 20:15] austinyearlykim commented on #75
https://github.com/austinyearlykim/wolf/pull/76

i will do the full pr including the version tag and release when i get home later tonight!

thanks @altcnews

[2018-12-18 23:53] altcnews commented on #75
i tried using the updated file #76 and then got other error in npm test
<a href="https://imgur.com/83sIXk5"><img src="https://i.imgur.com/83sIXk5.png" title="source: imgur.com" /></a>

wonder if is there anything else that i need to update?
really appreciate for your helps @austinyearlykim
thank you

[2018-12-19 00:25] austinyearlykim commented on #75
https://github.com/austinyearlykim/wolf/blob/master/modules/Symbol.js#L51

it's erroring out here because the stepsize doesn't have a 1 in it anymore.  which is a little concerning because I'm not sure how else stepsize is quantified. This is more than likely due to prices getting too low and the hackiest way to fix this would be to just default the step size to 0.  Let me think on this for a litt

[2018-12-19 00:51] altcnews commented on #75
thank you @austinyearlykim
you are very kind. hope this can be solved. seems like the bot is quite good and want to give it a try.

[2019-01-08 21:25] dutchpatriot commented on #75
I have the same issue on multiple versions, tried all kinds of assets same error every time, changed the
modules/Symbols.js L51 to 0 no luck

Why is no one else having this problem?

[2019-03-28 21:24] rummand commented on #75
+1
defaulting the stepsize to 0 dosen't help!

npm test runs without errors...

But then this...

![Screenshot 2019-03-29 at 13 07 30](https://user-images.githubusercontent.com/59901/55231669-a6f64080-5223-11e9-9ca3-c8a4f0659209.png)

Thanx for the fantastic bot...

[2019-06-02 19:29] duanebednorz opened #77 "Initializing...PURCHASE ERROR: TypeError: Cannot read property 'indexOf' of undefined"
Hi,

This issue recently started popping up and I'm not sure how to correct it.
![indexOf issue](https://user-images.githubusercontent.com/35853003/58766326-cc186f80-8542-11e9-8da2-08ee6c957dc1.JPG)

[2019-07-28 23:07] ghost commented on #77
Hello, I believe the correct is

![image](https://user-images.githubusercontent.com/53412000/62014097-bc945c00-b16a-11e9-9955-e5df88805f2f.png)

![image](https://user-images.githubusercontent.com/53412000/62014110-db92ee00-b16a-11e9-9ca9-b35d948ea01f.png)

[2019-08-02 08:02] umeshmoradiya commented on #75
Replace the getters() function in the Symbol.js file as of following and your test and simulator will work smoothly:

[code]

issue is with the filters[2] because stepSize is not in the filters[1]

[2020-07-30 17:50] #73 closed, assigned to nobody

[2020-08-06 23:12] jdeeshl opened #78 "COMPOUND Undefined."
I am just trying to start the program, and I am getting the following error.

![image](https://user-images.githubusercontent.com/9265502/89591654-08ccae80-d84b-11ea-9bcf-1585516e937a.png)
![image](https://user-images.githubusercontent.com/9265502/89591675-171aca80-d84b-11ea-9e65-04aade651430.png)

[2020-08-06 23:31] #78 closed, assigned to nobody

[2020-08-06 23:33] dynoalot commented on #77
I am having the same issue, but I am not understanding the solution you have posted. Can you please clarify?